{% assign sid = section.id %}

<style>
  #shopify-section-{{ sid }} video {
    height: auto;
    width: 100%;
    display: block;
  }

  @media screen and (min-width: 2560px) {
    #shopify-section-{{ sid }} .container {
      max-width: 160rem;
      margin-inline: auto;
    }

    #shopify-section-{{ sid }} video {
        border-radius: 4rem;
    }
  }
</style>

<div class="container">
  {% if section.settings.video != blank %}
    {{ section.settings.video | video_tag: autoplay: true, loop: true, controls: false, muted: true }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Video Banner",
  "tag": "section",
  "settings": [
    {
      "type": "video",
      "label": "Video",
      "id": "video"
    }
  ],
  "presets": [
    {
      "name": "Video Banner"
    }
  ]
}
{% endschema %}
