/* Nova: GDPR Cookie Consent  */
.cc-btn.cc-dismiss {
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 1;
  padding-block: 1.6rem;
  padding-inline: 3.2rem;
  white-space: nowrap;
}

.cc-btn.cc-dismiss {
  border-radius: .6rem;
}

.cc-window.cc-banner {
  border-top: 1px solid #e0e0e0;
}

/* Judge.me Reviews */
.jdgm-prev-badge__stars {
  margin-right: 1.2rem !important;
}

.jdgm-prev-badge__stars .jdgm-star.jdgm--on {
  color: var(--cstm-color-ratings);
}

/* Chatty AI Bot  */
p[class*="AvadaFaqs-MuiTypography-h6-jss"] {
  line-height: 1.5;
}

div[class*="AvadaFaqs-MuiListItem-gutters-jss"]  {
  align-items: start;
  gap: 1.6rem;
}

div[class*="AvadaFaqs-MuiListItem-gutters-jss"] .Avada-Faqs_Primary-Icon {
  transform: translateY(.6rem);
}

#Avada-FAQ_Widget * {
  font-family: var(--font-body-family) !important;
}

input[class*="AvadaFaqs-MuiInputBase-input-jss"] {
  min-height: unset !important;
}