.article__wrapper {
  max-width: 102.4rem;
  margin-inline: auto;
  display: grid;
  gap: 2.4rem;
}

.article__content-wrapper {
  max-width: 76rem;
  margin-inline: auto;
  display: grid;
}

.article__content-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  font-size: 1.5rem;
  color: var(--cstm-color-secondary);
}

.article__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.6rem;
}

@media screen and (min-width: 750px) {
  .article__wrapper {
    gap: 6rem;
  }
}

.related-articles__wrapper {
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.related-articles__wrapper h2,
.h5,
p {
  margin: unset;
}

.related-articles__content-wrapper {
}

.related-articles__content-wrapper {
  display: grid;
  gap: 2.4rem;
}

.related-articles__content-wrapper .navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.related-articles__content-wrapper .navigation-container a {
  text-decoration: unset;
  color: var(--cstm-color-primary);
  display: block;
  font-weight: 500;
}

.related-articles__content-wrapper .navigation-container div {
  display: block;
}

.related-articles__list {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 480px) {
  .related-articles__list {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .article__content-details {
    gap: 3.2rem;
  }
}

@media screen and (min-width: 750px) {
  .article__wrapper {
    gap: 4rem;
  }

  .related-articles__wrapper {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}
