.header__logo--black {
  display: none;
}

sticky-header {
  transition: all 200ms;
  box-shadow: unset !important;
}

.header-wrapper {
  transition: all 200ms;
}

.scrolled-header {
  background: #ffffff !important;
  box-shadow: rgba(26, 26, 26, 0.05) 0px 0px 0px 1px !important;
}

.header-wrapper-scrolled * {
  color: var(--cstm-color-text) !important;
}

.header-wrapper .search-modal * {
  color: var(--cstm-color-text) !important;
}

