.announcement-bar {
    position: relative;
    padding-block: 0.4rem;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cstm-color-primary);
    color: #ffffff;
  }

  .announcement-bar__message {
    position: absolute;
    font-weight: normal;
    line-height: 1;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
  }

  .announcement-bar__message.active {
    opacity: 1;
    transform: translateY(0);
    position: relative;
  }