.col__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    align-items: start;
    gap: 4.8rem;
    text-align: center;
}

.col__item {
    display: grid;
    gap: 3.2rem;
    justify-items: start;
    align-content: start;
    height: 100%;
}

.col__content-wrapper {
    display: grid;
    gap: 1.6rem;
}

.col__item svg {
    width: 3.2rem;
    height: 3.2rem;
    color: #ffffff;
    display: block;
}

.col__image-wrapper {
    background: var(--cstm-color-primary);
    border-radius: 100%;
    padding: 1.4rem;
    box-shadow: var(--cstm-box-shadow);
}

.col__image {
    width: 8rem;
    height: 100%;
    border-radius: 100%;
}

.col__title {
    max-width: 30ch;
}

.col__text {
    max-width: 40ch;
}

@media screen and (min-width: 750px) {
    .col__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .col__grid {
        grid-template-columns: repeat(var(--columns), 1fr);
    }
}