.collapsible__heading-wrapper {
  display: grid;
  gap: 2.4rem;
  justify-items: start;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 750px) {
  .collapsible__heading-wrapper {
    margin-bottom: 4.8rem;
  }
}

.collapsible__heading-wrapper .heading {
  order: 2;
  max-width: 25ch;
}

.collapsible__heading-wrapper .subheading {
  order: 1;
}

.collapsible__heading-wrapper .text {
  order: 3;
  max-width: 65ch;
}

@media screen and (min-width: 1280px) {
  .collapsible__heading-wrapper {
    justify-items: center;
    text-align: center;
  }
}

.collapsible__content-wrapper {
  display: grid;
  padding: 1.6rem;
  padding-block: 2.4rem;
  border: 1px solid #e0e0e0;
  border-radius: 1.2rem;
}

@media screen and (min-width: 480px) {
  .collapsible__content-wrapper {
    padding: 2.4rem;
    padding-block: 3.2rem;
  }
}

@media screen and (min-width: 750px) {
  .collapsible__content-wrapper {
    padding: 4rem;
    padding-block: 4.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .collapsible__content-wrapper {
    max-width: 99rem;
    margin-inline: auto;
  }
}

.collapsible__item {
  border-bottom: 1px solid rgba(224, 224, 224, 0.6);
  padding-block: 2.4rem;
}

.collapsible__title-wrapper {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapsible__title-wrapper svg {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
}

.collapsible__title-wrapper svg {
  transition: transform var(--duration) var(--ease);
}

.collapsible__title-wrapper svg.rotated {
  transform: rotate(180deg);
}

.collapsible__item:first-of-type {
  padding-top: unset;
}

.collapsible__item:last-of-type {
  border-bottom: unset;
  padding-bottom: unset;
}

.collapsible__title {
  font-weight: 500;
}

.collapsible__text {
  margin-top: 1.4rem;
  padding-right: 5.6rem;
  display: none;
}
